#homeContainer{
    /*border:solid white;*/
    padding:2% 8%;
    display:flex;
}


#noteContainer{
    /*border: solid white 1px;*/
    background: #0a3e67;
    padding:1%;
    width:20%;
    border-radius:10px;
    box-shadow: 1px 1px 1px white;
}

#noteContent{
    width:100%;
    background-color: white;
    margin-left:10px;
    border:solid #222222;
    border-radius:10px;
    color:black;
    display:flex;
    flex-direction: column;
}

#noteTitle{
    width:35%;
    height:10%;
    margin:auto;
}

#noteContentText{
    width:80%;
    height:40%;
    margin:auto;
}

#noteContent label{
    text-align: center;
}

#notesTitle{
    padding-left:5%;
}

#welcomeMsg{
    text-align:center;
}