#homeContainer{
    /*border:solid white;*/
    padding:2% 8%;
    display:flex;
}


#noteContainer{
    /*border: solid white 1px;*/
    background: #0a3e67;
    padding:1%;
    width:20%;
    border-radius:10px;
    box-shadow: 1px 1px 1px white;
}

#noteContent{
    width:100%;
    background-color: white;
    margin-left:10px;
    border:solid #222222;
    border-radius:10px;
    color:black;
    display:flex;
    flex-direction: column;
}

#noteTitle{
    height:10%;
    margin:auto;
    /*color:black;*/
}

#noteContentText{
    width:80%;
    height:40%;
    margin:auto;
}

#noteContent label{
    text-align: center;
}

#notesTitle{
    padding-left:5%;
}

#welcomeMsg{
    text-align:center;
}

#btnDelete{
    position: absolute;
    background-color: #bc0202;
    border-radius:5px;
    font-size: 1.2em;
    font-weight: bold;
    border:0;
    box-shadow: 1px 1px black;
    width:30px;
}
#btnDelete:hover {
    color: black;
    background-color: #550000;
}

#noteItemContainer{
    /*position: relative;*/
    /*padding: 15px;*/
    /*border: 1px solid #ddd;*/
    border-radius: 8px;
}
#addNoteContainer{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

#addNoteContainer button{
    border-radius:10px;
    background-color: green;
    font-weight:bold;
    color:white;
    font-size:1.2em;
    transition: 0.2s ease-in-out;
}

#addNoteContainer button:hover{
    background-color: #013c01;
    color: #7e7e7e;
}