.btnLogout {
    padding:10px;
    background-image: url(/public/icons8-logout-100.png);
    background-color: transparent;
    border:none;
    width:40px;
    height:40px;
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; 
    transition: 0.2s ease-in-out;
    border-radius:5px;

}

.btnLogout:hover {
    border:solid red 2px;
    padding:10px;
}