body{
    overflow:hidden;
}

#noteItem{
    width:100%;
    border-radius: 15px;
    list-style: none;
    padding:0;
    overflow-wrap: break-word;
    transition: 0.2s;
}

#noteItem li{
    padding:25px;
}

#noteTitle{
    margin:0;
}

#noteDescription{
    font-size:0.8rem;
    margin:0;
    color: #b5b5b5;
}